<!DOCTYPE html>

<!-- decorated pattern -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
    <meta name="Referrer" content="origin">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta property="og:title" content="루키 헤어 디자이너 플랫폼">-->
    <!--<meta property="og:url" content=""> 생기면 입력-->
    <!--<meta property="og:image" content="">-->
    <!--<meta property="og:description" content="예비 미용사에게 실제 고객의 머리를 만질 수 있는 기회를, 고객에게는 저렴한 비용으로 헤어 스타일링을 할 수 있도록 하는 온라인 예약 서비스입니다.">-->
    <!--<meta name="twitter:card" content="summary">-->
    <!--<meta name="twitter:title" content="">-->
    <!--<meta name="twitter:url" content="">-->
    <!--<meta name="twitter:image" content="https://s.pstatic.net/static/www/mobile/edit/2016/0705/mobile_212852414260.png">-->
    <!--<meta name="twitter:description" content="예비 미용사에게 실제 고객의 머리를 만질 수 있는 기회를, 고객에게는 저렴한 비용으로 헤어 스타일링을 할 수 있도록 하는 온라인 예약 서비스입니다.">-->
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.png">
    <title>Rookies</title>
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/animation.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- timepicker -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<!-- 	<!-- WebSocket -->
<!-- 	<script src="/webjars/sockjs-client/sockjs.min.js"></script> -->
<!--     <script src="/webjars/stomp-websocket/stomp.min.js"></script> -->
<!--     <script src="/js/chatting.js"></script> -->

</head>

<body>

	<div th:replace="fragments/commonHeader :: header"></div>

	<div id="content" layout:fragment="content"></div>

	<div th:replace="fragments/commonFooter :: div"></div>

	<!-- AngularJS -->
	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>

	<!-- import external CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.4.2"></script>
	<script src="/js/vm_component.js"></script>
    <script src="/js/vm_instance.js"></script>
    <!-- timepicker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <!-- 이벤트 핸들러 -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
	<script src="//momentjs.com/downloads/moment.js"></script>
	<script src="//isaaccambron.com/twix.js/twix.js/dist/twix.js"></script>
	<script src="/js/eventhandler.js"></script>
</body>

</html>