<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
</head>
<body>
<div layout:fragment="header">
	<header role="banner">
        <div class="navbar navbar-inverse justify-content-between">
            <div class="container">
                <h1 class="navbar-header">
				<!-- <a class="navbar-brand" href="./"><img src="./images/logo.png" alt="rookies" class="img-responsive center-block"></a> -->
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="rookies" class="img-responsive center-block"></a>

                </h1>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="검색어를 입력해주세요" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">찾기</button>
                </form>
				<ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right" role="navigation">
					<li><a href="/users/login">회원가입/로그인</a></li>
					<li><a href="#">서비스 소개</a></li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right" role="navigation">
					<li sec:authorize="hasRole('ROLE_USER')">
						<a th:if="${session.stylist == null}" href="/stylist/apply">헤어디자이너 신청</a>
						<a th:if="${session.stylist != null}" href="/stylist/enroll">헤어디자이너 등록</a>
					</li>
					<li sec:authorize="hasRole('ROLE_STYLIST')">
						<a href="/stylist/mypage">My Page</a>
					<li>
						<img th:src="@{${session.user.profileImagePath}}">
						<a href="#" th:text="${session.user.username}"></a>
					</li>
					<li><a href="#">알림</a></li>
					<li sec:authorize="hasAnyRole('ROLE_STYLIST', 'ROLE_ADMIN')"><a href="/chat">채팅</a></li>
					<li><a href="/users/logout">로그아웃</a></li>
				</ul>
                
            </div>
        </div>
    </header>	

					<!-- Merged backbranch -->
					<!-- <div sec:authorize="isAuthenticated()">
							<ul class="nav navbar-nav pull-right">
								<li sec:authorize="hasRole('ROLE_USER')">
									<a th:if="${session.stylist == null}" href="/stylist/apply">헤어디자이너 신청</a>
									<a th:if="${session.stylist != null}" href="/stylist/enroll">헤어디자이너 등록</a>
								</li>
								<li sec:authorize="hasRole('ROLE_STYLIST')">
									<a href="/stylist/mypage">My Page</a>
								<li>
									<a><span th:text="${session.user.username}"></span>님 환영합니다!</a>
									<img src="${session.user.profileImagePath}" alt="profile image">
									<span th:text="${session.user.profileImagePath}"></span>
								</li>
								<li><a>알림</a></li>
								<li sec:authorize="hasRole('ROLE_STYLIST')"><a href="/chat">채팅</a></li>
								<li><a href="/users/logout">Log out</a></li>
							</ul>
						</div>
						<div sec:authorize="isAnonymous()">
							<ul class="nav navbar-nav pull-right">
								<li><a href="/users/login">Log in</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	</div> -->
    </header>
</div>
</body>
</html>