<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
</head>
<body>
<div layout:fragment="header">

	<div class="navbar-wrapper">
		<div class="container">
	
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar" aria-expanded="false"
							aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Home</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#">Products</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
						
						<!-- Authentication Status -->
						<div sec:authorize="isAuthenticated()">
							<ul class="nav navbar-nav pull-right">
							<!-- Authorization Status -->
								<li sec:authorize="hasRole('ROLE_STYLIST')">
									<a href="/stylist/mypage">MyPage(Stylist)</a>
								</li>
								<li sec:authorize="hasRole('ROLE_USER')">
									<a href="/stylist/enroll">헤어디자이너신청</a>
								</li>
								<li>
									<a><span sec:authentication="principal"></span>님 환영합니다!</a><!-- sec:authentication="name" -->
								</li>
								<li><a>알림</a></li>
								<li><a>채팅</a></li>
								<li><a href="/logout">Log out</a></li>
							</ul>
						</div>
						<div sec:authorize="isAnonymous()">
							<ul class="nav navbar-nav pull-right">
								<li><a href="/login">Log in</a></li>
							</ul>
						</div>
						
					</div>
	
				</div>
			</nav>
	
		</div>
	</div>
</div>
</body>
</html>