/*pubulished by YAPP 4TH TEAM - ROOKIE HAIR DESIGNER, Rookies*/

/*** Basic Setting ***/

.hidden {
    display: none;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.img-responsive  {
    max-width: 100%;
    display: block;
}

.clearbefore:before,
.clearnext:after {
    content: "";
    clear: both;
    display: block;
}

.inline-block {
    display: inline-block;
    width: auto;
}

.block {
    display: block;
}

/* 폰트 스타일 */

h1, h2, h3, h4, h5, h6, div, p, th, td, dt, dd, span:not(.glyficon) {
    font-family: "noto sans KR", sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
}

a {
    color: #646464;
    text-decoration: none;
}

/* 버튼 스타일 */
/* totop btn */
.to-top-btn {
    position: fixed;
    top: 85%;
    right: -100px;
    z-index: 999999;
    background: gray;
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
   text-align: center;
    opacity: 0.8;
    -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
    transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}
.to-top-btn:hover {
  color: white;
  background: black;
  cursor: pointer;
}
.to-top-btn.showme {
    right: 50px;
}
.to-top-btn i {
  font-size: 30px;
  margin-top: 7px;
  margin-left: -2px;
  color: #ffffff;
}


/* 레이아웃 세팅 */

.container {
    max-width: 1520px;
    width: 100%;
    padding: 0;
    position: relative;
}

.container_sm {
    max-width: 980px;
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0 auto;
}

.br {
    margin: 15px 0;
}

ul, ol {
    padding-left: 0;
}
ul > li, ol > li {
    list-style-type: none;
}

.form-control {
    padding: 15px;
}

/*** 상단 네비게이션 바 ***/

.navbar-inverse {
    padding: 10px 0;
    background: #ffffff;
}

.navbar>.container,
.navbar>.container-fluid {
    justify-content: flex-start;
    border-bottom: 4px solid #000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar * > a {
    color: #ffffff;
}

.navbar-header {
    margin: 0;
}

.navbar-brand {
    position: relative;
    bottom: 3px;
    font-size: 35px;
    max-width: 130px;
}

.navbar-inverse form {
    margin-left: auto;
    border: 1px solid #000;
}

.navbar-inverse .form-inline input[aria-label="Search"] {
    border-radius: 0px;
    position: relative;
    top: 0px;
    background-color: #fff;
    padding: 8px 12px;
    width: 450px;
    border: 0;
}

.navbar-inverse form button[type="submit"] {
    border-radius: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-nav {
    margin-left: auto;
    flex-flow: row wrap;
}

.navbar-nav>li:not(:first-child) {
    margin-left: 15px;
}

.navbar-nav > li > a {
    font-size: 18px;
    color: #000;
}

/*************** 메인페이지 스타일 설정 ****************/

/*** 메인페이지 슬라이드 ***/

.main_slide {
    padding: 60px 0 55px;
    border-bottom: 3px solid #000;
    max-width: 1520px;
    margin: 0 auto;
    width: 100%;
}

/* 메인 컨텐츠 드롭다운 버튼 */
.main_service .dropdown {
    margin-bottom: 80px;
    text-align: right;
}

.main_service .dropdown button {
    border: 1px solid #363636;
    border-radius: 0px;
    background: #ffffff;
    color: #616161;
    padding: 0;
}

.main_service .dropdown button > span {
    display: inline-block;
}

.main_service .dropdown button .btn_title {
    padding: 12px 46px;
}
.main_service .dropdown button .btn_icon {
    padding: 14px 15px;
    background-color: #252525;
    color: #ffffff;
}


.main_service .dropdown button:after{
    display: none;
}


/*** 메인페이지 숍 박스 영역 ***/
.main_service {
    padding: 40px 0 115px;
}

.main_service a {
    text-decoration: none;
    color: #646464;
}

.shop_card {
    border: solid 1px #555555;
	margin-bottom: 30px;
}

.shop_card .sc_location {
    padding: 12px 20px;
    background-color: #000;    
}

.shop_card .sc_location span {
    color: #ffffff;
    font-size: 16px;
}


/* 샵박스 이미지 영역 */
.sc_imgarea {
    height: 300px;
    position: relative;
    background: url('http://postfiles5.naver.net/MjAxNzA3MjJfMTk3/MDAxNTAwNjk2ODI4OTY4.5EZdiCTBMwiE9HxqE3BO4WFDSF0hfYxKN4TO2YDl-kkg.u98iPhKgxlEFFRL8qebdow4v9045QuLOqwgpxJ3Scgsg.JPEG.hyja0000/IMG_9471.jpg?type=w966') no-repeat center / cover;
}

.sc_imgarea .profile_img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    right: 42px;
    bottom: -42px;
    background: url('http://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/13397472_1080416115385606_879028410_n.jpg?ig_cache_key=MTI3NjAzMDE5MzgwMTg1MTM4OQ%3D%3D.2') no-repeat center / cover;
	background-size: cover !important;
	background-position: center !important;
}

/* 샵박스 정보 영역 */

.sc_bottom {
    padding: 35px 20px 25px;
    transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28)
}

.sc_title {
    font-size: 18px;
    font-weight: bold;
    color: #252525;
}

.sc_des {
    display: block;
    margin: 5px 0 15px;
    font-size: 14px;
    color: #646464;
}

.sc_info .designer_name {
    font-size: 14px;
    float: left;
    color: #646464;
}

.sc_info .designer_name span {
    border: solid 1px #636363;
    padding: 5px 20px;
}

.sc_info .stars {
    color: #ffba00;
    font-size: 14px;
    float: right;
}

.sc_info .reply_num {
    color: #646464;    
}

/* 샵카드 효과 */
.shop_card:hover .sc_bottom {
    background: #333;
}

.shop_card:hover .sc_title,
.shop_card:hover .sc_des,
.shop_card:hover .designer_name,
.shop_card:hover .reply_num {
    color: #ffffff;
}


/*************** 샵 상세페이지 스타일 설정 ****************/
/* 기본 레이아웃 */
.sales_detail {
    padding-bottom: 115px;
}

/* 상단 타이틀 */
.sales_detail .sect_header {
    margin-bottom: 40px;
}


/* 기본 폰트 */
.sales_detail .sect_title {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    float: left;
}


/* 샵 내용 네비게이터 */

.sales_navigator {
    margin: 85px 0px;
}

.sales_navigator > li {
    float: left;
}

.sales_navigator > li:not(:first-child) {
    margin-left: 100px;
}


.sales_navigator > li > a{  
    font-size: 24px;
    color: #252525;
}

.sales_navigator > li > a > i {
    background: #333;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 70%;
    position: relative;
    top: -3px;
    margin-right: 10px;
}

/* 포트폴리오 설명 영역  */

.hair_info {
    border: 1px solid #252525;
}

.hair_info .img_wrap {
    height: 660px;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/17077095_1297724726973891_791848985626148864_n.jpg');
}

.hair_info figcaption {
    padding: 80px;
    color: #000;
}

.hair_info .hi_title {
    font-size: 48px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 35px;
}


.hair_info .hi_des {
    font-size: 30px;
    color: #252525;
    font-weight: 500;
}

/* 시술 장소 */
.shop_location {
    margin-top: 70px;
}

.shop_location .location_title {
    font-size: 40px;
    margin: 0 0 40px;
    font-weight: bold;
}

.shop_location .shop_address {
    font-size: 24px;
    font-weight: 500;
}

.shop_location .map {
     margin-top: 25px;   
}


/* 포트폴리오 리스트 영역  */

.pf_wrap {
    margin-top: 70px;
}

.pf_wrap .sect_header a {
    display: inline-block;
    float: right;
    font-size: 16px;
    color: #252525;
    margin-top: 20px;
}

.pf_list img {
    max-width: 600px;
}

.pf_list li {
    max-width: 950px;
}

.pf_list li + li {
    margin-top: 70px;
}

/* 후기 영역 */

.rp_wrap {
    margin-top: 100px;
}


/* 후기 작성 폼 */
.rp_frm {
    margin-top: 20px;
}

.rp_frm textarea {
    width: 100%;
    border-radius: 0;
    height: 250px;
    resize: none;
    border: 1px solid #252525;
    padding: 25px;
    font-size: 25px;
    overflow-y: scroll;
}

.rp_frm .photo_add {
    float: left;
}

.rp_frm .submit_btn {
    float: right;
}

/* 대표 후기 */
.rp_average {
    margin: 50px 0;
}

.rp_average .eval_wrap .starrating_read_average,
.rp_average .eval_wrap .rating_val {
    float: left;
}

.rp_average .rating_val {
    font-size: 22px;
    margin-left: 6px;
    color: #949494;
    letter-spacing: -0.5px;
    position: relative;
    top: 4px;
}

.rp_average .eval_wrap {
    padding: 30px;
}

.rp_average .eval_wrap .eval_cont {
    float: right;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -9px;
}

.rp_average .rp_photo_wrap {
    width: calc(100% / 5);
    float: left;
}


/* 후기 내용  */
.rp_content {
    padding: 50px 0;
    border-top: 2px solid #ccc;
}

.rp_content .user_thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    position: relative;
    top: -6px;
    margin-right: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.rp_content .user_thumb i {
    font-size: 25px;
}

.rp_content .user_name {
    display: inline-block;
    float: left;
    font-size: 20px;
}

.rp_content header .date {
    float: right;
}

.rp_content .eval_wrap .starrating_read_only,
.rp_content .eval_wrap .eval_cont {
    float: left;
    display: inline-block;
    margin: 15px 0;
}

.reply_more_btn {
    background: none;
    box-shadow: none;
    border: none;
    color: #a9a9a9;
    font-size: 18px;
}

/* 예약하기 박스 */
.reserve_box {
    margin: 205px auto 0;
    padding: 70px 40px;
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #636363;
    background-color: #fff;
    max-width: 430px;
    width: 100%;
}

.reserve_box .designer_profile {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/13397472_1080416115385606_879028410_n.jpg?ig_cache_key=MTI3NjAzMDE5MzgwMTg1MTM4OQ%3D%3D.2');
        
}

.reserve_info {
    margin-top: 2px;
}

.reserve_info > span {
    display: block;
}

.reserve_box .designer_name {
    font-size: 16px;
    color: #8b8b8b;
}

.reserve_info .hairstyle_name {
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
}


.reserve_box .price_box {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 50px 0px;
    padding: 30px 0;
}

.reserve_box .price_box p {
    font-size: 18px;
}

.reserve_box .price_box #price {
    font-size: 36px;
    font-weight: bold;
    color: #252525;
    margin-left: 10px;
}

.reserve_box select.form-control {
    padding: 0 12px;
}

.reserve_box label {
    font-size: 18px;
    font-weight: 500;
    color: #252525;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

.reserve_btn {
    background-color: #636363;
    border-radius: 0;
    color: #fff;
    font-size: 26px;
    width: 100%;
    padding: 15px 0;
    letter-spacing: -1px;
    font-weight: 500;
    margin-top: 50px;
    transition: all .4s ease;
}

.reserve_btn:hover {
    background: #000;
}


/*************** 디자이너 정보 페이지 스타일 설정 ****************/

.designer_info_box {
    padding: 70px 0;
}

.designer_info_box .img_wrap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/14374274_1798508830423172_5390521107117768704_n.jpg?ig_cache_key=MTM0NTM1MjQ4Mzg5OTMwNzY3NA%3D%3D.2');
    margin: 45px auto 10px;
}

.designer_info_box .designer_name {
    text-align: center;
    font-size: 20px;
    color: #8b8b8b;
}

.designer_info_box .info_des_box {
    border: 1px solid #252525;
    padding: 40px 35px;
    max-width: 850px;
    background: url('../img/scissor.png') no-repeat right 5% bottom/ 150px;
}

.designer_info_box .info_des_box .career {
    font-size: 28px;
    font-weight: bold;
    color: #252525;
}

.designer_info_box .info_des_box .info_des {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
}
.designer_info_box .info_des_box .info_location {
    font-size: 20px;
    color: #838383;
}

/* 디자이너 페이지 탭메뉴 네비게이터 */

.designer_info_tabbox > li {
    padding: 0px;
}

.designer_info_tabbox .nav-link {
    font-size: 25px;
    padding: 30px 0;
    border-radius: 0px;
    background: none;
    border: 1px solid #252525;
    margin-bottom: 120px;
    color: #a8a8a8;
}

.designer_info_tabbox .nav-link.active {
    background: #636363;
    color: #ffffff;
}

.designer_content_box {
    margin-bottom: 115px;
}


/* 탭메뉴 상세 페이지 */

#sales_tab .shop_add_btn {
    display: inline-block;
    margin-bottom: 35px;
    color: #333;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
}

#sales_tab .shop_add_btn i {
    font-weight: bold;
    margin-right: 7px;
}

#pf_tab .row > div[class*="col-"]:nth-child(3) ~ div[class*="col-"] img  {
    margin-top: 25px;
}


/*************** 샵 등록 페이지 스타일 설정 ****************/

.shop_create_frm form {
    padding-bottom: 115px;
}

.shop_create_frm .form-group {
    margin-top: 70px;
}

.shop_create_frm .frm_big_title {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    letter-spacing: -3px;
    margin-top: 100px;
}
.shop_create_frm .frm_big_des {
    font-size: 30px;
    color: #676767;
    letter-spacing: -0.05em;
    margin-bottom: 70px;
}

.shop_create_frm .btn-group {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid #000000;
}

.shop_create_frm .tmp_save_btn,
.shop_create_frm .delete_btn {
    font-size: 24px;
    margin-left: 15px;
    border: 2px solid #000000;
    background-color: #fff;
    padding: 15px 50px;
}

.shop_create_frm .frm_title {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 25px;
}

.shop_create_frm .frm_des {
    font-size: 22px;
    color: #676767;
    font-weight: 500;
    letter-spacing: -.05em;
}

.shop_create_frm .example_frm {
    display: block;
    background: #ebebeb;
    padding: 12px 20px;
    color: #676767;
    margin-bottom: 20px;
}

.shop_create_frm .inline_input {
    padding: 12px 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.shop_create_frm .right_btn {
    display: block;
    max-width: 110px;
    width: 100%;
    padding: 12px 20px;
    float: right;
    text-align: center;
    margin-top: 25px;
    border-radius: 0px;
    background: none;
    border: 1px solid #000;
    color: #000000;
}

.shop_create_frm textarea {
    border: 1px solid #000;
    border-radius: 0;
    resize: none;
    padding: 35px 25px;
}

.rv_complete {
    padding: 60px 0;
}

.rv_complete h2 {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.rv_complete p:not(.highlight) {
    font-size: 17px;
    margin-bottom: 35px;
}

.rv_complete .highlight {
    font-size: 20px;
    font-weight: bold;
}

.rv_status_tb {
    margin-top: 35px;
}

.rv_status_tb th,
.rv_status_tb td {
    text-align: center;
}

.rv_status_tb thead th {
    padding: 35px 0;
    border-bottom: 1px solid #000;
}

.rv_status_tb tbody td {
    padding: 35px 0;
    position: relative;
    vertical-align: middle;
}

.rv_status_tb tbody tr td:not(:first-child):before {
    display: block;
    content: "";
    width: 1px;
    height: 50%;
    background: #000;
    position: absolute;
    left: 0;
    top: 35px;
}

.rv_status_tb thead {
    border-top: 2px solid #000;
}

#rvPrice {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #de0000;
}

.rv_status .title {
    float: left;
    font-size: 21px;
    letter-spacing: -.06em;
    font-weight: bold;
}
.rv_status .rv_num {
    float: right;
    letter-spacing: -.06em;
    position: relative;
    top: 8px;
}

/* 디자이너 신청 페이지 */
.designer_apply_frm form {
    padding-bottom: 115px;
}

.designer_apply_frm .form-group {
    margin-top: 70px;
}

.designer_apply_frm .frm_big_title {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    letter-spacing: -3px;
    margin-top: 100px;
}
.designer_apply_frm .frm_big_des {
    font-size: 30px;
    color: #676767;
    letter-spacing: -0.05em;
    margin-bottom: 70px;
}

.designer_apply_frm .btn-group {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid #000000;
}

.designer_apply_frm .tmp_save_btn,
.designer_apply_frm .delete_btn {
    font-size: 24px;
    margin-left: 15px;
    border: 2px solid #000000;
    background-color: #fff;
    padding: 15px 50px;
}

.designer_apply_frm .frm_title {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 25px;
}

.designer_apply_frm .frm_des {
    font-size: 22px;
    color: #676767;
    font-weight: 500;
    letter-spacing: -.05em;
}

.designer_apply_frm .example_frm {
    display: block;
    background: #ebebeb;
    padding: 12px 20px;
    color: #676767;
    margin-bottom: 20px;
}

.designer_apply_frm .inline_input {
    padding: 12px 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.designer_apply_frm .right_btn {
    display: block;
    max-width: 110px;
    width: 100%;
    padding: 12px 20px;
    float: right;
    text-align: center;
    margin-top: 25px;
    border-radius: 0px;
    background: none;
    border: 1px solid #000;
    color: #000000;
}

.designer_apply_frm textarea {
    border: 1px solid #000;
    border-radius: 0;
    resize: none;
    padding: 35px 25px;
}

.designer_apply_frm  input[id*="phoneNumUpload"] {
    padding: 15px;   
}

.designer_apply_frm .bar {
    width: 7px;
    height: 2px;
    background: rgba(0,0,0,.15);
    margin: 0 10px;
    position: relative;
    top: -3px;
}

.designer_apply_frm .form-group .btn {
    position: relative;
    top: -3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}

.designer_apply_btn {
    display: block;
    padding: 15px 90px !important;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -.06em;
    background: none;
    border: 1px solid #9b9b9b;
    border-radius: 0;
    margin: 60px auto 0;   
    cursor: pointer;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: -6px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: -0.2em;
    left: 0.1em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

.flr {
    float: right;
}

.agree_box .title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    letter-spacing: -0.06em;
    margin-right: 15px;
}

.agree_box {
    margin-top: 60px;
}

.agree_box div[class*="box"] {
    padding: 12px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin-bottom: 15px;
}

/* 디자이너 인포메이션 */

.side_menu {
    margin: 80px auto 0 15px;
    padding: 50px 40px;
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #636363;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
}

.side_menu .designer_profile {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/13397472_1080416115385606_879028410_n.jpg?ig_cache_key=MTI3NjAzMDE5MzgwMTg1MTM4OQ%3D%3D.2');
        
}

.side_menu .designer_name {
    font-size: 16px;
    color: #8b8b8b;
    text-align: center;
    display: block;
    margin: 30px auto 45px;
}

.reserve_info .hairstyle_name {
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
}


.side_menu .price_box {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 50px 0px;
    padding: 30px 0;
}

.side_menu .price_box p {
    font-size: 18px;
}

.side_menu .price_box #price {
    font-size: 36px;
    font-weight: bold;
    color: #252525;
    margin-left: 10px;
}

.side_menu select.form-control {
    padding: 0 12px;
}

.side_menu label {
    font-size: 18px;
    font-weight: 500;
    color: #252525;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

.reserve_btn {
    background-color: #636363;
    border-radius: 0;
    color: #fff;
    font-size: 26px;
    width: 100%;
    padding: 15px 0;
    letter-spacing: -1px;
    font-weight: 500;
    margin-top: 50px;
    transition: all .4s ease;
}

.reserve_btn:hover {
    background: #000;
}


.side_menu_list > li {
    text-align: center;
    line-height: 2.1;
    letter-spacing: -0.06em;
}

.side_menu_list > li.active a {
    color: #000;
    font-weight: bold;
}

.side_menu_list + .side_menu_list {
    margin-top: 25px;
    border-top: 1px solid #ccc;
    padding-top: 25px;
}


/* 주문조회 */
.order_list .rv_list {
    margin-top: 100px;
    margin-bottom: 50px;
}

.order_list .rv_list .status_title {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #d8d8d8;
    border: 1px solid #979797;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
}

.order_list .rv_list span[id*="statusNum"] {
    font-size: 35px;
    color: #000;
    position: relative;
    top: 5px;
    margin-left: 25px;
}

.order_list .rv_status > #showFilterMenu {
    display: block;
    margin: 80px auto 100px;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    padding: 10px 25px;
    position: relative;
}

header span.title {
    float: left;
    font-size: 26px;
    letter-spacing: -.06em;
    font-weight: bold;
}

header span.title > span {
    display: block;
    color: #646464;
    font-size: 16px;
    font-weight: 400;
}

header > #showFilterMenu {
    display: block;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    padding: 10px 25px;
    position: relative;
    top: 15px;
}


.order_list .rv_status_tb tbody td:before {
    display: none !important;
}

.order_list .rv_status_tb #rvTitle {
    text-align: left;
}

.order_list .rv_status_tb #rvTitle > span {
    display: block;
    color: #4990e2;
    letter-spacing: -0.06em;
}

.order_list .rv_status_tb #rvTitle > span.rv_title {
    color: #000;
    font-weight: bold;
}

.order_list .rv_status_tb tr.complete {
    background: #f7f7f7;
}

.order_list .rv_status_tb .tb_btn {
    background: none;
    border: 1px solid #979797;
    color: #000;
    padding: 3px 12px;
    margin-top: 10px;
    cursor: pointer;
}

/* 판매 상품 관리  */
.sales_status {
    margin-top: 100px;
}

.sales_shop_box {
    margin-top: 60px;
}

/* 고객 후기 관리 */
.review_tb_wrap {
    margin-top: 60px;   
}