<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layouts/commonLayout">
<head>
<meta charset="utf-8">
<title>Chatting</title>

	<!-- JQuery -->
	<script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
	
	<!-- WebSocket -->
	<script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/js/chatting.js"></script>
</head>
<body>
	<div id="page-wrapper" layout:fragment="content">

		<h1>Hair Stylist Server - Chat Page</h1>

		<div id="main-content" class="container">
			<div class="row">
				<div class="col-md-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="connect">WebSocket connection:</label>
							<button id="connect" class="btn btn-default" type="submit">Connect</button>
							<button id="disconnect" class="btn btn-default" type="submit"
								disabled="disabled">Disconnect</button>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="content">보낼 메시지</label> <input type="text"
								id="content" class="form-control" placeholder="Your name here...">
						</div>
						<button id="send" class="btn btn-default" type="submit">Send</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table id="conversation" class="table table-striped">
						<thead>
							<tr>
								<th>메시지 보기</th>
							</tr>
						</thead>
						<tbody id="greetings">
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	
	
</body>
</html>