<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layouts/commonLayout">
<head>
	<meta charset="utf-8">
  	<title>Stylist My Page</title>
</head>

<body>
<div id="page-wrapper" layout:fragment="content">
    <div id="pageWrap">
		<article class="sales_list">
            <h2 class="hidden">디자이너 샵</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-sm-12">
                        <aside id="sideMenu" class="side_menu">
                            <header>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="designer_profile">

                                        </div>
                                        <span class="designer_name">Designer 은진</span>
                                    </div>
                                </div>
                            </header>
                            <ul class="side_menu_list">
                                <li><a href="">주문 조회</a></li>
                                <li><a href="">전체 조회</a></li>
                                <li><a href="">진행중인 예약 조회</a></li>
                            </ul>
                            <ul class="side_menu_list">
                                <li class="active"><a href="">판매 상품 관리</a></li>
                                <li><a href="">포트폴리오 관리</a></li>
                                <li><a href="">고객 후기 관리</a></li>
                            </ul>
                            <ul class="side_menu_list">
                                <li><a href="">프로필 수정</a></li>
                                <li><a href="">계좌 관리</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-sm-12">
                        <div class="sales_status">
                            <header class="clearfix">
                                <span class="title inline-block">판매 상품 관리<span>고객들에게 판매할 스타일링 상품을 등록해보세요</span></span>
                                <a href="/shop/enroll" class="flr inline-block shop_add_btn"><i class="xi-plus"></i> 샵 추가하러 가기</a>
                            </header>
                            <div class="sales_shop_box">
                                <div class="row">
                                    <div class="col">
                                        <sales-shop-box></sales-shop-box>
                                    </div>
                                    <div class="col">
                                        <sales-shop-box></sales-shop-box>
                                    </div>
                                    <div class="col">
                                        <sales-shop-box></sales-shop-box>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <sales-shop-box></sales-shop-box>
                                    </div>
                                    <div class="col">
                                        <sales-shop-box></sales-shop-box>
                                    </div>
                                    <div class="col">
                                        <sales-shop-box></sales-shop-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
        </div>
        <div class="to-top-btn"><i class="xi-caret-up"></i></div>
    </div>
</body>
</html>
