<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layouts/commonLayout">
<head>
	<meta charset="utf-8">
  	<title>Stylist My Page</title>
</head>

<body>
<div id="page-wrapper" layout:fragment="content">
    <div id="pageWrap">
        <div class="container">
            <div class="designer_info_box">
                <div class="row">
                    <div class="col-md-3">
                        <div class="img_wrap"></div>
                        <p class="designer_name">Designer. 은진</p>
                    </div>
                    <div class="col-md-9">
                        <div class="info_des_box">
                            <span class="career"></span>
                            <p class="info_des"></p>
                            <span class="info_location"></span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-fill designer_info_tabbox">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#sales_tab">판매 상품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#pf_tab">포트폴리오</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#reply_tab">고객후기</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="sales_tab" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-3 col-sm-12">
                            <a href="./sales_detail.html"><shop-box></shop-box></a>
                        </div>
                        <div class="col-xl-3 col-sm-12">
                            <a href="./sales_detail.html"><shop-box></shop-box></a>
                        </div>
                        <div class="col-xl-3 col-sm-12">
                            <a href="./sales_detail.html"><shop-box></shop-box></a>
                        </div>
                        <div class="col-xl-3 col-sm-12">
                            <a href="./sales_detail.html"><shop-box></shop-box></a>
                        </div>
                        <div class="w-100 br"></div>
                        <div class="col-xl-3 col-sm-12">
                            <a href="./sales_detail.html"><shop-box></shop-box></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pf_tab" role="tabpanel">
                    <div class="row">
                        <pf-img></pf-img>
                        <pf-img></pf-img>
                        <pf-img></pf-img>
                        <pf-img></pf-img>
                        <pf-img></pf-img>
                        <pf-img></pf-img>
                    </div>
                </div>
                <div class="tab-pane fade" id="reply_tab" role="tabpanel">.3..</div>
            </div>
        </div>
    </div>
    
</body>

</html>
