<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layouts/commonLayout">
<head>
	<meta charset="utf-8">
  	<title>Stylist My Page</title>
</head>

<body>
<div id="page-wrapper" layout:fragment="content">
    <div id="pageWrap">
		<article class="order_list">
            <h2 class="hidden">디자이너 샵</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-sm-12">
                        <aside id="sideMenu" class="side_menu">
                            <header>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="designer_profile">

                                        </div>
                                        <span class="designer_name">Designer 은진</span>
                                    </div>
                                </div>
                            </header>
                            <ul class="side_menu_list">
                                <li class="active"><a href="">주문 조회</a></li>
                                <li><a href="">전체 조회</a></li>
                                <li><a href="">진행중인 예약 조회</a></li>
                            </ul>
                            <ul class="side_menu_list">
                                <li><a href="">판매 상품 관리</a></li>
                                <li><a href="">포트폴리오 관리</a></li>
                                <li><a href="">고객 후기 관리</a></li>
                            </ul>
                            <ul class="side_menu_list">
                                <li><a href="">프로필 수정</a></li>
                                <li><a href="">계좌 관리</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-sm-12">
                        <div class="rv_status">
                            <div class="rv_list">
                                <div class="row">
                                    <div class="col">
                                        <div class="status_title inline-block">예약 접수</div>
                                        <span id="statusNum01">1</span>
                                    </div>
                                    <div class="col">
                                        <div class="status_title inline-block">진행 확정/완료</div>
                                        <span id="statusNum02">2</span>
                                    </div>
                                    <div class="col">
                                        <div class="status_title inline-block">취소</div>
                                        <span id="statusNum02">0</span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="showFilterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle"><span class="btn_title">2017.08 - 2017.09</span><span class="btn_icon"></span></button>
                            
                            <header class="clearfix">
                                <span class="title inline-block">주문정보<span>총 5건의 내역이 있습니다.</span></span>
                                <button type="button" id="showFilterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="flr btn btn-secondary dropdown-toggle ml-auto mr-0"><span class="btn_title">전체 상태</span><span class="btn_icon"></span></button>
                            </header>
                            <table class="table rv_status_tb">
                                <colgroup>
                                    <col width="40%">
                                    <col width="25%">
                                    <col width="15%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>상품명</th>
                                        <th>예약자</th>
                                        <th>예약 날짜</th>
                                        <th>상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col" id="rvImg"></div>
                                                <div class="col" id="rvTitle">
                                                    <span class="rv_title">투블럭 / 염색 스타일링</span>
                                                    <span class="option">옵션 / 투블럭 + 염색</span>
                                                    <span class="price">27,000원</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="rvCusterId" class="center-block">hyahya</span>
                                            <button id="rvContact" class="tb_btn">연락하기</button>
                                        </td>
                                        <td>
                                            <span id="rvRegdate" class="center-block">2017.10.15</span>
                                            <span id="rvTime" class="center-block">8:00</span>
                                        </td>
                                        <td>
                                            <span id="rvStatus">스타일링 대기중</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col" id="rvImg"></div>
                                                <div class="col" id="rvTitle">
                                                    <span class="rv_title">투블럭 / 염색 스타일링</span>
                                                    <span class="option">옵션 / 투블럭 + 염색</span>
                                                    <span class="price">27,000원</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="rvCusterId" class="center-block">hyahya</span>
                                            <button id="rvContact" class="tb_btn">연락하기</button>
                                        </td>
                                        <td>
                                            <span id="rvRegdate" class="center-block">2017.10.15</span>
                                            <span id="rvTime" class="center-block">8:00</span>
                                        </td>
                                        <td>
                                            <span id="rvStatus"><button id="continueBtn" class="tb_btn">진행하기</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col" id="rvImg"></div>
                                                <div class="col" id="rvTitle">
                                                    <span class="rv_title">투블럭 / 염색 스타일링</span>
                                                    <span class="option">옵션 / 투블럭 + 염색</span>
                                                    <span class="price">27,000원</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="rvCusterId" class="center-block">hyahya</span>
                                            <button id="rvContact" class="tb_btn">연락하기</button>
                                        </td>
                                        <td>
                                            <span id="rvRegdate" class="center-block">2017.10.15</span>
                                            <span id="rvTime" class="center-block">8:00</span>
                                        </td>
                                        <td>
                                            <span id="rvStatus">스타일링 대기중</span>
                                        </td>
                                    </tr>
                                    <tr class="complete">
                                        <td>
                                            <div class="row">
                                                <div class="col" id="rvImg"></div>
                                                <div class="col" id="rvTitle">
                                                    <span class="rv_title">투블럭 / 염색 스타일링</span>
                                                    <span class="option">옵션 / 투블럭 + 염색</span>
                                                    <span class="price">27,000원</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="rvCusterId" class="center-block">hyahya</span>
                                            <button id="rvContact" class="tb_btn">연락하기</button>
                                        </td>
                                        <td>
                                            <span id="rvRegdate" class="center-block">2017.10.15</span>
                                            <span id="rvTime" class="center-block">8:00</span>
                                        </td>
                                        <td>
                                            <span id="rvStatus">취소 완료</span>
                                        </td>
                                    </tr>
                                    <tr class="complete">
                                        <td>
                                            <div class="row">
                                                <div class="col" id="rvImg"></div>
                                                <div class="col" id="rvTitle">
                                                    <span class="rv_title">투블럭 / 염색 스타일링</span>
                                                    <span class="option">옵션 / 투블럭 + 염색</span>
                                                    <span class="price">27,000원</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="rvCusterId" class="center-block">hyahya</span>
                                            <button id="rvContact" class="tb_btn">연락하기</button>
                                        </td>
                                        <td>
                                            <span id="rvRegdate" class="center-block">2017.10.15</span>
                                            <span id="rvTime" class="center-block">8:00</span>
                                        </td>
                                        <td>
                                            <span id="rvStatus">스타일링 대기중</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
        </article>
        </div>
        <div class="to-top-btn"><i class="xi-caret-up"></i></div>
    </div>
</body>
</html>
