<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layouts/commonLayout">
<head>
	<meta charset="utf-8">
  	<title>Rookies</title>
</head>

<body>
<div id="page-wrapper" layout:fragment="content">
    <div id="pageWrap">
        <main-slider></main-slider>
        <section class="main_service">
            <h3 class="hidden">헤어샵 리스트</h3>
            <div class="container">
                <div id="mainShopBox">
                    <shop-select-btn></shop-select-btn>
                    <div class="row">
                        <!-- <shop-box></shop-box> -->
                        <div th:each="shop : ${shopList}" class="col-xl-3 col-sm-12">
                            <a th:href="@{'/shop/' + ${shop.shopCode}}">
								<div id="shopCard" class="shop_card">
						            <div id="mcLocation" class="sc_location">
						                <span th:text="${shop.location}">혜화/대학로</span>
						            </div>
						            <div class="sc_imgarea">
						                <img th:src="@{${shop.imagePath}}" width="100%" class="sc_imgarea" style="padding:1px">
						                <div class="profile_img" th:style="'background:url(' + @{${shop.stylist.user.profileImagePath}} + ');'">
						                </div>
						            </div>
						            <div class="sc_bottom">
						                <h4 th:text="${shop.shopName}" class="sc_title">남자 투블럭/염색/스타일링</h4>  
						                <span class="sc_des">#투블럭 #남자 #머리 #염색 #컷</span>
						                <div class="sc_info clearnext">
						                    <span th:text="'Designer '+${shop.stylist.stylistNickname}" class="designer_name"><span>Designer</span> 은진</span>
						                    <span class="stars">
						                    	<div th:if="${shop.avg} > 0">
							                    	<span th:each="i : ${#numbers.sequence( 1, shop.avg)}">
							                        	<i class="xi-star">
							                        </span>
							                        <span th:text="'('+${shop.count}+')'" class="reply_num">(15)</span>
						                        </div>
						                    </span>
						                </div>
						            </div>
						        </div>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
         </section>
      </div>
</div>
    <div id="preLoader" class="preloader">
        <img src="./images/logo_big.png" alt="" class="img-responsive center-block tada animated">
        <!--<div class="letter-wrap">-->
        <!--    <span class="preloader__letter" data-preloader="R">R</span>-->
        <!--    <span class="preloader__letter" data-preloader="O">O</span>-->
        <!--    <span class="preloader__letter" data-preloader="O">O</span>-->
        <!--    <span class="preloader__letter" data-preloader="K">K</span>-->
        <!--    <span class="preloader__letter" data-preloader="I">I</span>-->
        <!--    <span class="preloader__letter" data-preloader="E">E</span>-->
        <!--    <span class="preloader__letter" data-preloader="S">S</span>    -->
        <!--</div>-->
    </div>
	<br/>
    </div>
</body>
</html>
