<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/commonLayout">

<head>
	<meta charset="utf-8">
	<title>Home</title>
</head>

<body>
<div id="page-wrapper" layout:fragment="content">

	Hair Stylist Server
	<br/>
	<table>
		<tr th:each="shop : ${shopList}">
			<td><img th:src="@{shop.imagePath}"/ alt="shop image"></td>
			<td><a th:href="@{'/shop/' + ${shop.shopCode}}"><span th:text="${shop.shopName}"></span></a>
			</td>
		</tr>
	</table>
	
</div>
</body>
</html>
