<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layouts/commonLayout">
<head>
	<meta charset="utf-8">
  	<title>Rookies</title>
</head>

<body>
<div id="page-wrapper" layout:fragment="content">
    <div id="pageWrap">
		<div class="container">
            <div class="rv_complete text-center">
                <h2>예약이 완료되었습니다.</h2>
                <p>디자이너가 예약을 확인한 후에 해당 스타일링이 진행됩니다.<br>결제 금액은 스타일링 완료 후 디자이너에게 최종 지급됩니다.</p>
                <p class="highlight">"멋진 변신을 기대할게요."</p>
            </div>
            <div class="rv_status">
                <header class="clearfix">
                    <span class="title inline-block">주문정보</span>
                    <span class="rv_num inline-block">주문번호: 52158648<span id="rvNum"></span></span>
                </header>
                <table class="table rv_status_tb">
                    <colgroup>
                        <col width="40%">
                        <col width="25%">
                        <col width="15%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>상품명</th>
                            <th>최종 결제 금액</th>
                            <th>예약 날짜</th>
                            <th>디자이너</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span id="rvProduct" class="center-block" th:text="${product.productName}"></span>
                                <span id="rvOption" class="center-block" th:text="'옵션 : '+${option.optionName}"></span>
                            </td>
                            <td>
                                <span id="rvPrice" class="center-block" th:text="${product.productPrice}+${option.optionPrice}+'원'"></span>
                                <span id="rvPayment" class="center-block">현장 결제</span>
                            </td>
                            <td>
                                <span id="rvRegdate" class="center-block" th:text="${book.bookDate}"></span>
                                <span id="rvTime" class="center-block" th:text="${book.bookTime}"></span>
                            </td>
                            <td>
                                <span id="rvDesigner" th:text="'Designer '+${stylist.stylistNickname}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="to-top-btn"><i class="xi-caret-up"></i></div>
    </div>
</body>
</html>
